.light-requirements,.height,.ph-requirements,.flowers-color,.florescence, .water-requirements{
    display: inline-flex;
    align-items: baseline;
    margin-right: 5px;
  }
.add-plant-container{
display: flex;
align-items: center;
height: 100%;
}
.add-plant-container>div{
    flex:1;
    margin-right: 5px;
}
.add-plant-container>div:last-child{
    margin-left: 5px;
}
.your-plants{
    margin-top: 40px;
}
.add-plant-container .button{
    width: 100%;
    display: block;
    text-align: center;
}
.your-plant-container{
    display: flex;
}
.your-plant-container .plants{
    flex:4;
    margin-left: 20px;
}
.your-plant-container .filters{
    flex:1;
    background-color: #eee;
}
.plants-desc{
    display: flex;
    margin-bottom: 80px;
}
.about-adding-plant, .buttons{
    flex:1;
    margin: 0 20px;
}
.add-plant{
    background-color: #53b418;
    border: 0px;
    color: #fff;
    text-transform: uppercase;
    cursor: pointer;
}
.button{
    color:#fff;
    display: initial;
}
.desc p{
    font-size: 14px;
    margin: 0 0 0 50px;
    
}
.desc{
    border-left: 1px solid #cccccc;
}
.single-plant{
    display:flex;
    margin-top: 20px;
    width:45%;
    position: relative;
}
.plant-image img{
    height: 100%;
}
.plant-image{
    height: 120px;
    max-width: 120px;
    overflow: hidden;
    width: 100%;
}
.plants-wrapper{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    padding:0;
    flex-wrap: wrap;
    padding: 0px 20px;
    min-height: 50px;
  }
.group{
    border:1px solid #cccccc;
    border-radius: 15px;
    margin-top: 40px;
    position: relative;
}
.group .group-name{
    color: #4d4d4d;
}
.no-plants{
    text-align: center;
    color: #a3a1a1;
    font-size: 20px;
    border:1px solid #cccccc;
    border-radius: 15px;
    padding: 15px;
}
.no-plants-in-group{
    text-align: center;
    display: block;
    color: #a3a1a1;
    font-size: 20px;
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15px;
}
.add-group{
    background-color: #39800F;
    border: 0px;
    text-transform: uppercase;
    cursor: pointer;
}
.group-option{
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    display: inline-block;
    width: 30px;
    position: absolute;
    right: 0;
    top: -30px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
}
.option-content{
    position: absolute;
    right: 0;
    width: 145px;
    background-color: #fff;
    z-index: 9;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
    display: none;
}
.options:hover .option-content{
    display: block;
}
.option-content ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.option-content ul li{
    text-align: center;
    padding: 6px;
    cursor: pointer;
}
.options-plant{
    /* right: 30px; */
    background-color: #eee;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: relative;
    border: 1px solid #a3a3a3;
}
.options-plant span{
    text-align: center;
    display: block;
    top: 9px;
    position: relative;
    width:28px;
}
.option-content-plant{
    display:none;
    position: absolute;
    right: 0;
    margin-top:10px;
    width: 145px;
    background-color: #fff;
    z-index: 9;
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}
.options-plant:hover .option-content-plant{
    display: block;
}
.options-plant ul{
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor: pointer;
}
.show{
    display: block;
    position: relative;
    top: -26px;
}
.hide{
    display: none;
}
.group-name-editable{
    position: absolute;
    top: -27px;
}
.group-name-editable input{
    border:none;
}
.change-name-button{
    background-color: #53b418;
    border: 0px;
    color: #fff;
    -webkit-appearance: none;
    border-radius: 10px;
    padding: 5px 10px;
    height: auto;
    line-height: normal;
    font-size: 16px;
    font-weight: 600;
    font-family: 'Roboto Condensed', sans-serif;
    cursor: pointer;

}
.group-name-editable form{
    display: flex;
    align-items: baseline;
}
.single-plant-link{
    display: flex;
    width:100%;
}
a{
    color:#000;
    text-decoration: none;
}
.plant-detalis{
    margin-left: 10px;
    width:100%;
}
@media(max-width:1300px){
    .add-plant-container .button{
        padding:10px;
    }
}
@media(max-width:991px){
    .plants-desc{
        flex-direction: column-reverse;
    }
    .desc p{
        margin: 0 0 20px;
    }
    .desc{
        border:none;
    }
    .your-plant-container{
        flex-direction: column;
    }
    .your-plant-container .plants{
        margin-left:0px;
    }
}
@media(max-width:800px){
    .single-plant{
        width: 100%; 
    }
}
@media(max-width:700px){
    .about-adding-plant, .buttons{
        margin: 0;
    }
}
@media(max-width:450px){
    .your-plants{
        padding:0 15px;
    }
    .single-plant{
        flex-direction: column; 
    }
    .plant-image {
        height: 250px;
        width: 100%;
        max-width: 280px;
    }
    .options-plant{
        position: absolute;
        right: 0px;
    }
    .plant-detalis{
        margin-left: 0px;
        margin-top: 10px;
    }
}
@media(max-width:330px){
    .add-plant-container{
        flex-direction: column;
    }
    .add-plant-container > div{
        width:100%;
        margin: 5px;
    }
   
}
