/* nav{
    background-color:#14482f;
} */
footer{
    margin-top: 100px;
}
nav{
    display: flex;
    justify-content: space-between;
    margin-bottom: 45px;
    -webkit-box-shadow:  0px 4px 16px 0px rgba(0, 0, 0, 0.05);
-moz-box-shadow:  0px 4px 16px 0px rgba(0, 0, 0, 0.05);
box-shadow:  0px 4px 16px 0px rgba(0, 0, 0, 0.05);
  }
.navbar img{
    width: auto;
    height: auto;
    padding-left: 45px;
}
.navbar{
    padding: 0.75rem 1rem;
    background-color: #fff;

}
li{
    text-align: center;
}

.user{
   
    cursor:pointer; 
}
.user-icon{
    width: 50px;
    left: -6px;
    position: absolute;
    top: -2px;
}
.navbar-brand{
    font-weight: 600;
    font-style: oblique;
    font-size:140%;
    margin-right: 4rem !important;
}
.footer-background{
    background-color: #094b17;;
    height:40px;
}
@media(max-width:991px){
    #navbarSupportedContent{
        width:100%;
        margin-left: 0px; 
    }
    .navbar-light .navbar-nav .nav-link{
        width:100%;
    }
    .navbar-brand{
        width: calc(100% - 50px);
        display: flex;
        margin-right: 0px !important;
      }
}
@media(max-width:450px){
    .navbar{
        padding: 8px;
    }
    .navbar img{
       margin:initial;
       margin-left: 10px;
       padding-left: 0px;
    }
    nav{
        margin-bottom: 35px;
    }
    
}
